.banner{
	text-align: center;
	height:40px;
}
.container {
	width: 500px;
	height: 500px;
	margin-left: 460px;
	margin-top: 150px;
}
.row {
	text-align: center;
}
.btn {
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
	border: 1px solid;
	border-left: 0px;
	border-top: 0px;
	vertical-align: middle;
	line-height: 100px;
}
.clear {
	clear: both;
}